* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 14%;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
    background-color: #FF9A00;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }