.address {
    font-size: 24px;
    margin-left: 7%;
  }
.email {
    font-size: 24px;
    margin-left: 7%;
    }
.phone {
    font-size: 24px;
    margin-left: 7%;
    }
.CompanyNb {
    font-size: 24px;
    margin-left: 7%;
    }
.Conf {
    font-size: 24px;
    margin-left: 15%;
    }
h1 {
    font-size: 55px;
    margin: 0px 0px 0 7%;
    }
footer {
  width: 100%;
  word-break: break-all;
  bottom: auto;
  position: absolute;
}
.CompanyInfo {
    padding: 0 0;
    list-style: none;
}

.CompanyInfo li{
    display: inline;
}

@media only screen and (max-width: 600px) {
    .Conf {
        margin-left: 7%;
        }
    .CompanyInfo li{
        display: block;
    }
    footer {
        text-align: center;
      }
  }