.button {
  background-color: #EC6607;
  color: white;
  padding: 2px 6px 2px 6px;
  border: none;
  cursor: pointer;
  height: 51px;
  width: 471px;
  font-size: 32px;
}

.buttonCenter {
    text-align: center;
}

.inputCenter{
    text-align: center;
}

.inputCenter label {
    font-size: 32px;
}

input[type=email], input[type=password] {
  width: 471px;
  padding: 2px 2px 2px 2px;
  height: 51px;
}

input[type=email] {
  font-size: 28px;
  }

  
input[type=password] {
  font-size: 28px;
  }

.emailText {
  margin: 100px 0px 0px -389px;
}

.passwordText {
    margin: 15px 0px 0px -333px;
  }

@media (max-width: 800px) {
  .button {
    background-color: #EC6607;
    color: white;
    padding: 2px 6px 2px 6px;
    border: none;
    cursor: pointer;
    height: 46px;
    width: 324px;
    font-size: 24px;
  }
  
  .buttonCenter {
      text-align: center;
  }
  
  .inputCenter{
      text-align: center;
  }
  
  .inputCenter label {
      font-size: 24px;
  }
  
  input[type=email], input[type=password] {
    width: 324px;
    padding: 2px 2px 2px 2px;
    height: 46px;
  }
  
  input[type=email] {
    font-size: 16px;
    }
  
    
  input[type=password] {
    font-size: 16px;
    }
  
  .emailText {
    margin: 100px 0px 0px -261px;
  }
  
  .passwordText {
      margin: 15px 0px 0px -217px;
    }
}